@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap');

.App{
    background-color: black;
    color: white;
    text-align: center;
}
.footer{
    background-color: #00828c;
    text-align: center;
    display: flex;
    justify-content: space-around;
    
    
}
li{
    list-style: none;
}
.LoginForm{
    text-align: center;
    justify-content: center;
    
}
