.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: #00828c;
    color: aliceblue;
    
}
.logo{
    font-size: 30px;

}
.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.home,
.log-in,
.newRecipe,
.sign-up,
.log-out{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}
.log-out{
    border: 1px solid yellow;
    border-radius: 5px;
}

